{% extends 'core/base_admin.html' %}
{% block contenido %}
  <section id="intro" style="height: 100px;">
                                          <div class="container">
                                                            <div class="row">
                                                              <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                                                                <div class="intro animate-box">
                                                                  <h1>Eliminar Cliente</h1>
                                                                </div>
                                                              </div>
                                                              </div>
                                                                  </section>
                                                                      <main id="main">
                                                                      <div class="container">
                                                                <div class="col-md-8 col-md-offset-2 animate-box">
                                                                      <div class="table-responsive">
                                                                  <table class="table .table-hover">
                                                                      <thead>
                                                                          <tr>
                                                                            <th>Nid</th>
                                                                            <th>Nombre</th>
                                                                            <th>Primer Apellido</th>
                                                                            <th>Segundo Apellido</th>
                                                                            <th>Telefono</th>
                                                                            <th>Auto</th>
                                                                          </tr>
                                                                      </thead>
                                                                      <tbody>

                                                                          <tr>
                                                                            <td>{{a.nid}}</td>
                                                                            <td>{{a.nombre}}</td>
                                                                            <td>{{a.primer_apellido}}</td>
                                                                            <td>{{ a.segundo_apellido}}</td>
                                                                            <td>{{a.telefono}}</td>
                                                                            <td>{{a.auto}}</td>
                                                                              </tbody>
                                                                              </table>
                                                                            </div>   <form  action="" method="post">
                                                                          {% csrf_token %}
                                                                        <input type="submit" name="name" class="btn btn-primary" value="Aceptar">
                                                                        <a href="{% url "lista-cliente" %}" class="btn btn-default navbar-btn">Cancelar</a>
                                                                      </form>
                                                                    </div>
                                                                  </div>
                                                            </div>
                                              </main>

{% endblock %}
