{% extends 'core/base_admin.html' %}
{% block contenido %}
  <section id="intro" style="height: 100px;">
              <div class="container">
                    <div class="row">
                  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                      <div class="intro animate-box">
                            <h1>Nuevo Auto</h1>
                                </div>
                                </div>
                                </div>
                              </section>
                              <main id="main">
                            <div class="container">
                            <div class="col-md-8 col-md-offset animate-box">
                              <div class="col-md-8 col-md-offset-2 animate-box">
                                <form  action="" method="post">
                                  {% csrf_token %}
                                  <ul><label> Marca</label></ul>
                                  <ul>{{formAuto.marca}}</ul>
                                  <ul><label> Tipo De Auto</label></ul>
                                  <ul>{{formAuto.tipo}}</ul>
                                  <ul><label> Modelo</label></ul>
                                  <ul>{{formAuto.modelo}}</ul>
                                  <ul><label>Consecionario</label></ul>
                                  <ul>{{formAuto.consecionario}}</ul>
                                  <ul><label> Matricula</label></ul>
                                  <ul>{{formAuto.matricula}}</ul>
                                  <ul><label> Color</label></ul>
                                  <ul>{{formAuto.color}}</ul>
                                  <div class="container" style="width: 1190px; padding-left: 52px; padding-top: 37px;">
                                  <div class="row">
                                  <input type="submit" name="name" class="btn btn-primary" value="Guardar">
                                  <a href="{% url "lista-autos" %}" class="btn btn-default navbar-btn">Cancelar</a>
                                  </div>
                                  </div>
                            </form>
                  </div>
              </div>
            </div>
          </main>
{% endblock %}
